@model List<GitHubTunisia.Models.UserInformation>
@{
    ViewBag.Title = "Top Tunisian Coders";
    var page = (int)ViewBag.page;
}
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
@section scripts{

    <script src="http://code.jquery.com/jquery-1.12.4.js" ></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Bio</th>
                    <th>Blog</th>
                    <th>Followers</th>
                </tr>
            </thead>
            <tbody>
                @{ var counter = 1 + (page - 1) * 100; }
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            <b>@counter</b>
                        </td>
                        <td>
                            <img src="@user.avatar_url" style="height:40px;width:40px;" class="img-circle" />
                        </td>
                        <td>
                            <a href="@user.html_url">@(user.name ?? (user.login ?? "N/A"))</a>
                        </td>
                        <td>
                            @(user.email ?? "N/A")
                        </td>
                        <td>
                            <i>@(user.bio ?? "...")</i>
                        </td>
                        <td>
                            <a href="@(user.blog ?? "#")">@(user.blog ?? "N/A")</a>
                        </td>
                        <td>
                            @(user.followers)
                        </td>
                    </tr>
                    // increasing the counter
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>