@model List<Octokit.User>
@{
    ViewBag.Title = "Top Tunisian Coders";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <h3>Best tunisian coder in GitHub!</h3>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>name</th>
                    <th>email</th>
                    <th>bio</th>
                    <th>blog</th>
                    <th>followers</th>
                </tr>
            </thead>
            <tbody>
                @{ var counter = 1; }
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            <b>@counter</b>
                        </td>
                        <td>
                            <img src="@user.AvatarUrl" style="height:40px;width:40px;" class="img-circle" />
                        </td>
                        <td>
                            <a href="@user.HtmlUrl">@(user.Name ?? (user.Login ?? "N/A"))</a>
                        </td>
                        <td>
                            @(user.Email ?? "N/A")
                        </td>
                        <td>
                            <i class="text-muted">@(user.Bio ?? "...")</i>
                        </td>
                        <td>
                            <a href="@(user.Blog ?? "#")">@(user.Blog ?? "N/A")</a>
                        </td>
                        <td>
                            @(user.Followers)
                        </td>
                    </tr>
                    // increasing the counter
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>