@model List<Octokit.User>
@{
    ViewBag.Title = "Top Tunisian Coders";
}
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
@section scripts{

    <script src="http://code.jquery.com/jquery-1.12.4.js" ></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Bio</th>
                    <th>Blog</th>
                    <th>Followers</th>
                </tr>
            </thead>
            <tbody>
                @{ var counter = 1; }
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            <b>@counter</b>
                        </td>
                        <td>
                            <img src="@user.AvatarUrl" style="height:40px;width:40px;" class="img-circle" />
                        </td>
                        <td>
                            <a href="@user.HtmlUrl">@(user.Name ?? (user.Login ?? "N/A"))</a>
                        </td>
                        <td>
                            @(user.Email ?? "N/A")
                        </td>
                        <td>
                            <i>@(user.Bio ?? "...")</i>
                        </td>
                        <td>
                            <a href="@(user.Blog ?? "#")">@(user.Blog ?? "N/A")</a>
                        </td>
                        <td>
                            @(user.Followers)
                        </td>
                    </tr>
                    // increasing the counter
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>