@model List<GitHubTunisia.Models.UserInformation>
@{
    ViewBag.Title = "Home Page";

    var bestCoder = Model.FirstOrDefault();
    if(Model != null && Model.Count > 0)
    {
        Model.RemoveAt(0);
    }
}

<div class="jumbotron" style="display: inline-block;width: 100%;">
    <div class="col-md-8">
        <h1>GitHub Tunisia</h1>
        <p class="lead">Numbers about the tunisian coders in <a href="https://github.com">GitHub</a>!</p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/logo.png" style="width:180px; border-radius:90px;" />
    </div>
</div>

<div class="row">
    <h3>Best tunisian coders in GitHub!</h3>
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <center style="background-color: darkslategrey;border-radius: 90px;padding: 20px;margin: 10px;margin-bottom: 40px;">
                <img src="Content/ribbon.png" style="height: 60px;position: absolute;margin-top: -10px;" />
                <img style="width:100px; height:100px" src="@bestCoder.avatar_url" alt="@(bestCoder.name?? bestCoder.login)" class="img-circle" />
                <h3 style="color:goldenrod;font-style: italic;font-weight: 900;text-transform: uppercase;text-shadow: 1px 1px 5px goldenrod;">
                    <a href="@bestCoder.html_url" style="text-decoration: none;color: goldenrod;">@(bestCoder.name ?? bestCoder.login)</a>
                </h3>
                <p>
                    @bestCoder.bio
                </p>
            </center>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Bio</th>
                    <th>Blog</th>
                    <th>Followers</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                @{ var counter = 2; }
                @foreach(var user in Model)
                {
                    <tr>
                        <td>
                            <b>@counter</b>
                        </td>
                        <td>
                            <img src="@user.avatar_url" style="height:40px;width:40px;" class="img-circle" />
                        </td>
                        <td>
                            <a href="@user.html_url">@(user.name ?? (user.login ?? "N/A"))</a>
                        </td>
                        <td>
                            @(user.email ?? "N/A")
                        </td>
                        <td>
                            <i>@(user.bio ?? "...")</i>
                        </td>
                        <td>
                            <a href="@(user.blog ?? "#")">@(user.blog ?? "N/A")</a>
                        </td>
                        <td>
                            @(user.followers)
                        </td>
                        <td>
                            @(user.score)
                        </td>
                    </tr>
                    // increasing the counter
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <span style="color:orangered">Last update: @DateTime.Now</span>
</div>